## Documentation 
[Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/index.html#api "Pandas Documentation")</br>
[Scikit-Learn Documentation](https://scikit-learn.org/stable/supervised_learning.html "Scikit-Learn Documentation")</br>
[NumPy Documentation](https://numpy.org/doc/ "NumPy Documentation")</br>
[Python Tutor](https://pythontutor.com/visualize.html#mode=edit "Python Tutor")</br>

In [ ]:
!pip install openpyxl

In [ ]:
import pandas as pd

In [ ]:
file_url = 'PUT_THE_URL_TO_THE_DATA_HERE'
df = pd.read_excel(file_url)

In [ ]:
# load dataset
filename = 'pima-indians-diabetes.data.csv'
col_names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
df = pd.read_csv(filename, names=col_names,sep=',')

## Add or Change Headers

#add header row when creating DataFrame
df = pd.DataFrame(data=[data_values],
                  columns=['col1', 'col2', 'col3'])

#add header row after creating DataFrame
df = pd.DataFrame(data=[data_values])
df.columns = ['A', 'B', 'C']

#add header row when importing CSV
df = pd.read_csv('data.csv', names=['A', 'B', 'C'])

## Basic Data Info

In [ ]:
# Basic Data Cleaning
df.columns = df.columns.str.lower().str.replace(' ', '_') # A
 
string_columns = list(df.dtypes[df.dtypes == 'object'].index) # B
 
for col in string_columns:
    df[col] = df[col].str.lower().str.replace(' ', '_') # C

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.nunique()

## Handle your duplicates

In [ ]:
# Duplicates in the Columns?
df.duplicated()
df.duplicated().sum()

In [ ]:
# df[['InvoiceNo', 'StockCode', 'InvoiceDate', 'CustomerID']]

In [ ]:
# Duplicated Rows?
df[df.duplicated()]

In [ ]:
# Find duplicates in specific columns from your dataset.  Replace with your columns obviously.  keep the first or last dupe.
# df.loc[df.duplicated(keep='last'), ['InvoiceNo', 'StockCode', 'InvoiceDate', 'CustomerID']]

In [ ]:
# df_unique = df.drop_duplicates(keep='first')
df.drop_duplicates(keep='first')

In [ ]:
# Only consider duplicates in these columns and drop only them
# df.duplicated(subset=['InvoiceNo', 'StockCode', 'InvoiceDate','CustomerID'], keep='first').sum()
# By looking only at these four columns instead of all of them, we can see that the number of duplicate rows may increase/decrease
# This means that there are rows that have the exact same values as these four columns but have different values in 
# other columns, which means they may be different records. 
# In most cases, it is better to use all the columns to identify duplicate records.

## Analyze the Data Types in your dataset

In [ ]:
df.dtypes

In [ ]:
# Change the data type of any field with this:
df['Country'] = df['Country'].astype('category')
df.dtypes
# This options are:  bool, str, int, float, category... etc.
# This is useful if you want to convert a binary classification target to 0/1 - convert it's type to int... esp if it is float

In [ ]:
# View your categorial types:
df['Country'].cat.categories

## Treat incorrect values in your dataset
Replace Numerics and replace Categorical data

In [ ]:
# If you have values in your columns that you want to replace - use this for loop
# For instance - in the CreditScoring dataset - there are numerous 99999999 that need to be replaced

# for c in ['income', 'assets', 'debt']:
#    df[c] = df[c].replace(to_replace=99999999, value=np.nan)

In [ ]:
# If you want to remove a value from a column - use this: 
# df = df[df.status != 'unk']   # This removes the value 'unk' from your data in the column.  Modify as needed

In [ ]:
# If you need to search through a column and find a value in a string:
# df[df['State'].str.contains('il', na=False)]
# df['State'].unique()

# another technique to search and replace strings:
# df.loc[df['StockCodeDescription'].str.contains('MISEL', na=False),]
# df['StockCodeDescription'] = df['StockCodeDescription'].str.replace('MISELTOE', 'MISTLETOE')

In [ ]:
# Here is another technique to search and replace in a string:
# Create a mask
il_mask = df['State'].isin(['il', 'Il', 'iL', 'Il']) # This is saying il, Il, iL, Il are all in the STATE column
il_mask.sum()
df.loc[il_mask, 'State'] = 'IL'   # subset the mask and replace all instances with IL

## Missing Values

In [ ]:
df.isna()

In [ ]:
df.isna().sum()

In [ ]:
# Check for missing values in a single column
# df[df['Description'].isna()]

In [ ]:
# List all rows that are missing a value in this field
# df.dropna(subset=['Description'])

In [ ]:
# Drop all rows that are missing a value in this field:
# df.dropna(subset=['Description'], inplace=True)

In [ ]:
# df.isna().sum()

### Impute Values instead of dropping them

In [ ]:
# df['CustomerID'].fillna('Missing', inplace=True)

In [ ]:
# Replace NaN one column with the median
# df['col1'] = df['col1'].fillna(df['col1'].median())
# df = df.fillna(df.median())

## Save your dataframe to a CSV - don't forget to download the CSV

In [ ]:
# saving the dataframe
# df.to_csv('file1.csv')

In [ ]:
For a small dataframe - consider saving it as an image:
pip install dataframe-image
 
import pandas as pd
import dataframe_image as dfi
 
df = pd.DataFrame({'A': [1,2,3,4],
                   'B':['A','B','C','D']})
 
dfi.export(df, 'dataframe.png')